@use '@/styles/media';

.content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto;
  gap: 20px;

  @include media.mobile {
    grid-template-columns: 1fr;
  }
}
