:root {
  --background-color: #f3f7fa;
  --color-hover: #f1fcff;
  --color-check: #9abbce;
  --color-white: #fff;
  --color-primary: #2196f3;
  --color-font-black: #4a4a4a;
  --color-font-gray: #a0b0b9;

  --container-width: 1120px;

  --font-family: 'Open Sans', sans-serif;

  --border-radius: 5px;
  --box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

  --transition-duration: 0.2s;
}
