@use '@/styles/media';

.sort {
  &__options {
    display: flex;
  }

  &__btn {
    flex: 1 0 100px;
    position: relative;
    border: 1px solid #dfe5ec;
    background: #ffffff;
    height: 50px;
    margin: 0 -1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    outline: none;
    color: var(--color-font-black);

    @include media.mobile {
      font-size: 12px;
    }

    &:hover:not(.selected) {
      background-color: var(--color-hover);
      color: var(--color-font-black);
    }

    &:focus-visible::before {
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      border-radius: 5px;
      border: 2px solid var(--color-check);
      pointer-events: none;
    }
  }
}

.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.left {
  border-radius: 5px 0 0 5px;
}

.right {
  border-radius: 0 5px 5px 0;
}
